* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* MAKE FOOTER STICK TO BOTTOM */
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;

      background: linear-gradient(150deg, #caa10e, #efefef);
      color: #e6dd83;
    }

    /* PAGE CONTENT */
    .page-content {
      flex: 1;
      padding: 10px;
    }
/* NAVBAR */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      background:  #094a0b;
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: #e8e7eb;
    }

    nav ul {
      display: flex;
      gap: 25px;
      list-style: none;
    }

    nav ul li a {
      text-decoration: none;
      color: #c5f40a;
      font-weight: 500;
      font-size: 16px;
      padding: 6px 10px;
      border-radius: 6px;
      transition: all 0.25s ease;
    }

    nav ul li a:hover {
      background: rgba(255,255,255,0.1);
    }

/* HERO SECTION */
.about-hero {
  min-height: calc(100vh - 80px); /* full screen minus navbar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #061e06;
  text-align: center;
  padding: 40px;
}


.about-hero h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
  max-width: 900px;
  color: aliceblue;
}

.about-hero p {
  max-width: 520px;
  font-size: 18px;
  line-height: 1.7;
  color: #d3d3d3;
}





